.nav {
    margin-left: 30%;
    margin-top: 10%;
}

.box {
    margin-left: auto;
}

.adat {
    margin-left: 20%;
}

label {
    margin-left: 20px;
    width: 70px;
    display: inline-block;
}

.gomb {
    margin-left: 20%;
}

.center {
    margin-left: 20%;
}